body {
  background: #d7d7d7;
}
.cat-hd {
  border-radius: 2px;
  background: #f0f0f0;
  line-height: 40px;
  padding-left: 13px;
  font-size: 16px;
  padding: 0 49px;
}
.cat-hd h3 {
  font-size: 16px;
  padding: 0 26px;
  cursor: pointer;
}
.cat-hd h3.current {
  border-bottom: 1px dotted #f7f7f7;
  z-index: 1;
}
.cat-hd h3.current,
.cat-hd h3:hover {
  margin-left: -1px;
  position: relative;
  background: #fff;
  top: -1px;
  border-top: 2px solid #e9ab5a;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
}
.cat-bd {
  background: #fff;
}
.cat-bd .item {
  border-right: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
  vertical-align: top;
  margin-top: -1px;
  position: relative;
  display: inline-block;
  padding: 25px 10px 17px;
  width: 184px;
  height: 95px;
  padding-left: 130px;
  zoom: 1;
}
.cat-bd .item:hover {
  background: #fff3e2;
}
.cat-bd .item:hover .install:not(.app-installed) {
  background: #ff9b15;
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
}
.cat-bd .item:hover h4 a {
  color: #333;
}
.cat-bd .item h4 {
  color: #999999;
  font-weight: bold;
}
.cat-bd .item h4 a {
  width: 180px;
}
.cat-bd .item a {
  color: #999999;
}
.cat-bd .item img {
  left: 30px;
  position: absolute;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.cat-bd .desc {
  line-height: 14px;
  height: 28px;
  overflow: hidden;
  margin: 7px 0;
  font-size: 12px;
}
.cat-bd .desc a {
  color: #87868e;
}
.cat-bd .install {
  color: #333;
  height: 25px;
  line-height: 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  display: inline-block;
}
