.result-hd {
  border-radius: 2px;
  background: #f0f0f0;
  line-height: 40px;
  padding-left: 13px;
  font-size: 16px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
.result-list {
  min-height: 120px;
  background: #fff;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.result-list .no-result {
  margin-top: 40px;
  text-align: center;
}
.result-list .item {
  border-right: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  vertical-align: top;
  float: left;
  position: relative;
  padding: 25px 10px 17px;
  width: 186px;
  height: 95px;
  padding-left: 130px;
  zoom: 1;
}
.result-list .item:hover {
  background: #fff3e2;
}
.result-list .item:hover h4 a {
  color: #333;
}
.result-list .item:hover .install:not(.app-installed) {
  background: #ff9b15;
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
}
.result-list .item h4 {
  font-weight: bold;
}
.result-list .item a {
  color: #999999;
}
.result-list .item img {
  left: 30px;
  position: absolute;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.result-list .item.hide-border {
  width: 187px;
  border-right: 0;
}
.result-list .desc {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  margin: 7px 0;
  font-size: 12px;
}
.result-list .desc a {
  color: #87868e;
}
.result-list .install {
  color: #333;
  height: 25px;
  line-height: 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  display: inline-block;
  margin-top: -4px;
}
